Creating Variables

In [13]:
x=100
print(x)
type(x)
y=0.567
print(y)
type(y)
z="Just simply leaern a python in Visual studio code"
print(z)
type(z)

100
0.567
Just simply leaern a python in Visual studio code

str

Creating List and Tuple

In [2]:
x=[14,67,8]
print(x)
type(x)
print(x[1])
y=(4,8,6)
print(y)
type(y)
print(y[2])

[14, 67, 8]
67
(4, 8, 6)
6

Changing the values in the List

In [4]:
print(x)
x[2]=67
print(x)

[14, 67, 8]
[14, 67, 67]

Changing the Values in tuple is possible

    #No , Tuples are Immutable,
    #It cannot be changed,
    #Since it gives an Error.

In [6]:
print(y)
y[2]=30
print(y)

(4, 8, 6)

TypeError: 'tuple' object does not support item assignment

Arithmetic Operation

In [10]:
x=20
y=20
result=x+y
print(result)
result=x-y
print(result)
result=x*y
print(result)
result=x/y
print(result)
result=x//y
print(result)

40
0
400
1.0
1

String Operation

In [11]:
var="Justlearn python"
print(var)

Justlearn python

Extracting a Single Character in String

In [17]:
var="Justlearn python"
print(var)
print(var[0])
print(var[4])
print(var[3])

Justlearn python
J
l
t

Extraction of multiple character in String

In [21]:
print(var[0:3])
print(var[:3])
print(var[5:])
len(var)

Jus
Jus
earn python

16

Numbers in python

In [25]:
num=5
type(num)
num=234567
type(num)
num=5.4
type(num)

float

Complex Numbers

In [30]:
num=2+5j
type(num)
num.real
num.imag

5.0

Number Operations

In [35]:
num1=10
num2=20
print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)
print(num1//num2)
print(num1**num2)
print(num1%num2)

30
-10
200
0.5
0
100000000000000000000
10

Conversions

In [41]:
x="192"
type(x)
x=int(x)
type(x)
x=float(x)
print(x)
x=complex(x)
print(x)

192.0
(192+0j)

Inbuild Functions

In [42]:
x=-7.5
print(abs(x))

7.5

Exponent Function

#Before using exp function, we need to import an Header file,

#And exp function is located in a math library.

In [48]:
import math
x=10
print(math.exp(x))
math.e
math.pi
print(math.sqrt(9))
print(math.sqrt(6))

22026.465794806718
3.0
2.449489742783178

And another usage in math lib is to find a max and min values

It present by in default

In [51]:
max(1,34,4986,3526,87)
min(1,34,4986,3526,87)

1

LISTS

In [56]:
num=[1,2,3,4,5]
print(num)
type(num)
letter=['a','b','c','d']
print(letter)
type(letter)

[1, 2, 3, 4, 5]
['a', 'b', 'c', 'd']

list

LISTS OF STRINGS

In [59]:
stg=["learn","python","Easily","ahead"]
print(stg)
mix=[1,6,"learn","python","Easily","ahead"]
print(mix)
mat=[[1,2],['a','b']]
print(mat)

['learn', 'python', 'Easily', 'ahead']
[1, 6, 'learn', 'python', 'Easily', 'ahead']
[[1, 2], ['a', 'b']]

Accessing an elements in the list

In [68]:
print(mix)
mix[3]
mix[-2]
mix[:3]
mix[3:]
mix[2:4]
mix[::-1]

[1, 6, 'learn', 'python', 'Easily', 'ahead']

['ahead', 'Easily', 'python', 'learn', 6, 1]

Operations On Lists

In [70]:
z=[0]*100
print(z)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [71]:
print(letter)

['a', 'b', 'c', 'd']

In [72]:
print(stg)

['learn', 'python', 'Easily', 'ahead']

CONCATENATION OF STRING IN LIST

In [73]:
conc=letter+stg
print(conc)

['a', 'b', 'c', 'd', 'learn', 'python', 'Easily', 'ahead']

In [74]:
var=list("Hey there")
print(var)

['H', 'e', 'y', ' ', 't', 'h', 'e', 'r', 'e']

In [75]:
print(num)

[1, 2, 3, 4, 5]

In [81]:
one,*other=num
print(other)
print(one)
print(num)

[2, 3, 4, 5]
1
[1, 2, 3, 4, 5]

Methods in Lists

In [84]:
print(num)
num.append(6)
print(num)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 6]

In [87]:
num.extend(stg)
print(stg)
print(num)

[1, 2, 3, 4, 5, 6, 6, 'learn', 'python', 'Easily', 'ahead', 'learn', 'python', 'Easily', 'ahead', 'learn', 'python', 'Easily', 'ahead']

In [90]:
num.insert(5,"simplilearn")
print(num)

[1, 2, 3, 4, 5, 'simplilearn', 6, 6, 'simplilearn', 'learn', 'python', 'Easily', 'ahead', 'learn', 'python', 'Easily', 'ahead', 'learn', 'python', 'Easily', 'ahead']

In [91]:
num.remove("simplilearn")
print(num)

[1, 2, 3, 4, 5, 6, 6, 'simplilearn', 'learn', 'python', 'Easily', 'ahead', 'learn', 'python', 'Easily', 'ahead', 'learn', 'python', 'Easily', 'ahead']

Creates New Lists

In [92]:
var1=['b','f','a','q','r']
var1.sort()
print(var1)

['a', 'b', 'f', 'q', 'r']

Build in Functions In the lists

In [93]:
x=[9,17,14,4,90,55]
len(x)

6

In [94]:
min(x)

4

In [95]:
max(x)

90

In [96]:
sum(x)

189

In [100]:
avg=sum(x)/len(x)
print(avg)

31.5

PYTHON TUPLES

#Tuples is a collections of immutable

CREATING TUPLES

In [101]:
emp=()
print(type(emp))

<class 'tuple'>

In [103]:
city=["pune","Bangalore","Delhi","Mumbai"]
print(city)

['pune', 'Bangalore', 'Delhi', 'Mumbai']

In [106]:
list1=[1,2,3,67]
list1.append(5)
print(list1)

[1, 2, 3, 67, 5]

In [107]:
tuple1=(1,2,3,4,5,6,7)
tuple1.append(8)

AttributeError: 'tuple' object has no attribute 'append'

In [108]:
print(city)

['pune', 'Bangalore', 'Delhi', 'Mumbai']

In [109]:
city[1]

'Bangalore'

In [110]:
city[-1]

'Mumbai'

CONCATENATION

In [125]:
print(city)
city=tuple(city)
type(city)

['pune', 'Bangalore', 'Delhi', 'Mumbai']

tuple

In [118]:
num5=1,2,3,4,5
print(num5)
type(num5)

(1, 2, 3, 4, 5)

tuple

In [126]:
print(city+num5)

('pune', 'Bangalore', 'Delhi', 'Mumbai', 1, 2, 3, 4, 5)

NESTING  (Tuple with other Tuple)

In [128]:
xycv=(city,num5)
print(xycv)

(('pune', 'Bangalore', 'Delhi', 'Mumbai'), (1, 2, 3, 4, 5))

REPITITON

In [130]:
rep=("python"*5)
print(rep)

pythonpythonpythonpythonpython

str

SLICING

In [134]:
print(num)
num[7:]

[1, 2, 3, 4, 5, 6, 6, 'simplilearn', 'learn', 'python', 'Easily', 'ahead', 'learn', 'python', 'Easily', 'ahead', 'learn', 'python', 'Easily', 'ahead']

['simplilearn',
 'learn',
 'python',
 'Easily',
 'ahead',
 'learn',
 'python',
 'Easily',
 'ahead',
 'learn',
 'python',
 'Easily',
 'ahead']

In [133]:
num[::-1]

['ahead',
 'Easily',
 'python',
 'learn',
 'ahead',
 'Easily',
 'python',
 'learn',
 'ahead',
 'Easily',
 'python',
 'learn',
 'simplilearn',
 6,
 6,
 5,
 4,
 3,
 2,
 1]

UNPACKING

In [136]:
tuple("Simplilearn")

('S', 'i', 'm', 'p', 'l', 'i', 'l', 'e', 'a', 'r', 'n')